*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background: url('https://www.bing.com/th/id/OIP.WMuhZhB6fok6UoGE4CP08AHaEK?w=228&h=211&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper{
    backdrop-filter: blur(5px);
}

.glass-container{
    width: 380px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(156, 179, 56, 0.15);
    border: 1px solid rgba(148, 61, 61, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    color: rgb(2, 2, 2);
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

.input-group{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 5px;
}

input{
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.btn{
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    cursor: pointer;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.btn:hover{
    background: rgba(255, 255, 255, 0.5);
}

.links{
    text-align: center;
    margin-top: 15px;
}

.links a{
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}
